body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #fff0f5;
}


header {
background-color: #d63384;
color: white;
padding: 15px;
}


nav a {
color: white;
margin: 0 10px;
text-decoration: none;
}


.hero {
text-align: center;
padding: 60px;
background-color: #f8c8dc;
}


.productos {
padding: 30px;
text-align: center;
}


.card {
display: inline-block;
background: white;
padding: 20px;
margin: 10px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


footer {
background-color: #d63384;
color: white;
text-align: center;
padding: 10px;
}
